<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Redirection Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body{ font: 14px sans-serif; text-align: center; }
    </style>
    <meta http-equiv="refresh" content="3; url=https://lucatolton.me" />
</head>
<body>
    <h1 class="my-5">
        <b>Invalid short URL</b><br />
        You have clicked on an invalid shortened URL. You will be sent to the home page in 3 seconds.
    </h1>
</body>
</html>